.searched{
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    z-index: 2 !important;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.644);
    align-items: flex-start;
    width: 40vw;
    height: 75vh;
    justify-content:flex-start;
}
.searched .cards{
    z-index: 2;
    width: 40vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-bottom:10px ;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.searched .cards .card{
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.644);
    height: 10vw;
    display: flex;
    flex-direction: row;
    z-index: 2;

}
.searched .cards img{
    width: 4vw;
    height: 100%;
    z-index: 2;

}
.searched .cards h4{
    color: black;
    z-index: 2;

    font-family: "Dm sans";
}
.searched .cards .rate{
    color: black;
    z-index: 2;

}/* Customize the scrollbar track */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  /* Customize the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 5px; /* Rounded corners of the thumb */
  }
  
  /* Customize the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color on hover */
  }
  
@media screen and (max-width: 800px) {
    .searched{
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        z-index: 2 !important;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.644);
        align-items: flex-start;
        width: 30vw;
        height: 30vh;
        justify-content:flex-start;
    }
    .searched .cards{
        z-index: 2;
        width: 30vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-bottom:10px ;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
    }
    .searched .cards .card{
        width: 40vw;
        background-color: rgba(255, 255, 255, 0.644);
        height: 10vw;
        display: flex;
        flex-direction: row;
        z-index: 2;
    
    }
    .searched .cards .details {
        display: flex;
        flex-direction: column;
    }
    .searched .cards img{
        width: 4vw;
        height: 100%;
        z-index: 2;
    
    }
  h4{
        color: black;
        z-index: 2;
        font-size: .8rem;
    
        font-family: "Dm sans";
    }
    .searched .cards .rate{
        color: black;
        z-index: 2;
        font-size: .5rem;
    }
}