:root{
  --color:#be123c;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
}
body{
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;

}

.image-container {
  position: absolute; /* Ensure the container has a position value */
  display: inline-block; /* or block, or flex, depending on your layout needs */
}

.image-container::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute; /* Position it absolutely within the container */
  width: 100vw; /* Cover the entire container */
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Replace with your desired color and opacity */
  z-index: 1; /* Place it above the image (adjust as needed) */
  pointer-events: none; /* Allows clicks to pass through to the image */
}

.image-container img {
  width: 100vw;
  height: auto;
  z-index: 2; /* Place it above the overlay */
}

header{
  margin-bottom: 200px;
  z-index: 1;
  width:100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  gap:80px;
}
nav{
  height:8vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
nav .logo{
display: flex;
flex-direction: row;
align-items: center;
gap: 2rem;
}
nav .logo b{
  color: white;
  font-family: "Dm sans";
  font-size: 1.6rem;
  font-weight: 700;
}
nav .logo img{
  width:2.9rem;
}
nav .search{
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .search input {
  background-color: transparent;
  border: 2px solid #D1D5DB;
  border-radius: 6px;
  width: 40vw;
  color: white;
  font-family: "DM sans";
  font-size: 1.2rem;
  padding: 6px 10px;
  height: 6vh;
}
nav .search input::placeholder{
  color: #D1D5DB;
  font-family: "DM sans";
  font-size: 1rem;
}
nav .search img{
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  transform: translateX(-30px);
  color: #999;
}
nav .login{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
nav .login a{
  color: white;
  font-family: "Dm sans";
}
header .content{
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
header .content h1{
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  font-family: "Dm sans";
}
.rate{
  display: flex;
  flex-direction: row;
  color: white;
  gap: 1rem;
}
.rate div{
  display: flex;
  flex-direction: row;
  gap: .5rem;
}
 .rate div p{
  color: white;
  font-size:.75rem;
  font-weight: 400 ;
  font-family: "Dm sans";
}
header .content p{
  font-size: .875rem;
  font-family: "Dm sans";
  font-weight: 500;
  color:white;
}
header .content button{
  background-color: #be123c;
  outline: none;
  border: none;
  padding:6px 16px ;
  font-family: "dm sans";
  color: white;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.feature{
  margin: 0 auto;
  width: 90vw;
  padding: 10px 30px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.feature .title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feature .title h1{
    font-size: 1rem;
    font-family: "Dm sans";
    font-weight: 700;
}
.feature .title a{
  font-family: "DM sans";
  font-size: 1.125rem;
  color: #BE123C;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  text-decoration: none;
}
.feature .details a h4 {
  text-decoration: none;
}
.feature .details h4 {
  font-family: "DM sans";
  text-decoration: none;
  color: black;
}
.feature  .rate  {
  color: black;
  font-size: 1rem;
  font-family: "Dm Sans";
}
.feature  .rate p{
  color: #BE123C;
  font-weight: 700;
}


.feature .cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 500px;
  gap: 15px;
}
.feature .cards .card{
  width: 250px;
}
.feature .cards .card img{
  width: 100%;
}
@media screen and (max-width: 900px){
  
header{
  padding: 30px 20px;
  gap:150px;
}
.poster{
  width: 100vw;
  height: 80vh;
  position: absolute;
  z-index: 0;
}
nav .logo{
gap: .5rem;
}
nav .logo b{
  font-size: .7rem;
}
nav .logo img{
  width:1rem;
}
nav .search input {
  background-color: transparent;
  border: 2px solid #D1D5DB;
  border-radius: 6px;
  width: 30vw;
  padding:0;
  height: 3vh;
}
nav .search input::placeholder{
  color: #D1D5DB;
  font-family: "DM sans";
  font-size: .5rem;
}
nav .search img{
  width: .4rem;
  height: .4rem;
  position: relative;
  transform: translateX(-10px);
  color: #999;
}
nav .login{
  gap: .2rem;
}
nav .login a{
 font-size: .9rem;
}
nav .login img{
  width: 1rem;
}
header .content{
  width: 90vw;
  justify-content: center;
  margin: 0 auto;
  gap: 1.5rem;
  align-items: center;
}
header .content h1{
  font-size: 1.6rem;
  color: white;
  font-weight: 700;
  font-family: "Dm sans";
}

}